[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
whitenoise = "==5.2.0"
gunicorn = "==20.0.4"
psycopg2-binary = "==2.8.6"
environs = "==9.1.0"
waitress = "==1.4.4"
asgiref = "==3.3.0"
dj-database-url = "==0.5.0"
dj-email-url = "==1.0.1"
django-cache-url = "==3.1.2"
marshmallow = "==3.9.0"
python-dotenv = "==0.15.0"
pytz = "==2020.4"
sqlparse = "==0.4.1"
Django = "==3.1.3"

[requires]
python_version = "3.7"
