<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Case {{ case_id }} - Add Visits</title>
        <style>
            body {
                margin: auto;
                max-width: 1200px;
                padding-left: 10px;
            }

            [class*="col-"] {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            table {
                table-layout: fixed;
            }
            td {
                padding-top: 10px;
                padding-bottom:10px;
                word-wrap:break-word;
            }
            td:first-child {
                padding-left: 5px;
            }
            tbody tr {
                background-color: rgba(238, 238, 238, 0.568);
            }
            .scroll-y-vh-40 {
                max-height: 40vh;
                overflow-y: scroll;
            }

        </style>
        <script>
            $(document).ready(function() {
                var currentGeodata
                var currentHotzone
                var addedVisitsID=0
                //Changed to 2 classes for the new table & table title
                $('.hotzoneLocations, .geodataLocations, #addedVisits').hide()
                var today=new Date();
                $('#date_from').val(today.toISOString().substr(0, 10))
                $('#date_to').val(today.toISOString().substr(0, 10))
                function renderLocations(database, data) {
                    if(database=='hotzone') {
                        $('.hotzoneLocations tbody').empty()
                        data.forEach((ele, idx, arr) => {
                            $('.hotzoneLocations tbody').append(
                                `<tr class="mb-2">
                                <td colspan=4>${ele.fields.name}</td>
                                <td colspan=10>${ele.fields.address}</td>
                                <td colspan=2>${ele.fields.x}</td>
                                <td colspan=2>${ele.fields.y}</td>
                                <td colspan=2 class="text-center"><button type="button" class="${database} btn btn-primary" data-pk="${ele.pk}" data-idx="${idx}">Select</button></td>
                                </tr>`)
                        })
                        $('.hotzoneLocations').show()
                    }
                    else {
                        $('.geodataLocations tbody').empty()
                        data.forEach((ele, idx, arr) => {
                            $('.geodataLocations tbody').append(
                                `<tr class="mb-2">
                                <td colspan=4>${ele.nameEN}</td>
                                <td colspan=10>${ele.addressEN}</td>
                                <td colspan=2>${ele.x}</td>
                                <td colspan=2>${ele.y}</td>
                                <td colspan=2 class="text-center"><button type="button" class="${database} btn btn-primary" data-idx="${idx}">Add+Select</button></td>
                                </tr>`)
                        })
                        $('.geodataLocations').show()
                    }
                    
                }
                function reset() {
                    $("#x_coord").html('')
                    $("#y_coord").html('')
                    $("#address").html('')
                }
                function resetAddedVisits() {
                    addedVisitsID=0
                    $('#addedVisits').hide()
                    $('#addedVisits tbody').empty()
                }
                function set(data, from) {
                    if(from=='hotzone') {
                        $("#x_coord").html(data.fields.x)
                        $("#y_coord").html(data.fields.y)
                        $("#address").html(data.fields.address)
                        $("#location").val(data.fields.name)
                        $("#visit").attr('data-pk', data.pk)
                    }
                    else {
                        $("#x_coord").html(data.x)
                        $("#y_coord").html(data.y)
                        $("#address").html(data.addressEN)
                        $("#location").val(data.nameEN)
                        $("#visit").attr('data-pk', data.pk)
                    }
                }
                function filterAddedLocations() {
                    var newCurrentGeoData=[]
                    if(currentHotzone.length>0) {
                        currentGeodata.forEach((ele, idx, arr) => {
                            var repeated=false
                            for(var i=0;i<currentHotzone.length;i++) {
                                if(ele.nameEN==currentHotzone[i].fields.name && ele.x==currentHotzone[i].fields.x && ele.y==currentHotzone[i].fields.y && ele.addressEN==currentHotzone[i].fields.address) {
                                    repeated=true
                                    break
                                }
                            }
                            if(!repeated) {
                                newCurrentGeoData.push(ele)
                            }
                        })
                        currentGeodata=newCurrentGeoData
                    }
                }
                //current changed to currentHotzone/currentGeodata
                $(document).on('click','.hotzone',function() {
                    set(currentHotzone[parseInt($(this).attr('data-idx'))], 'hotzone')
                })
                $(document).on('click','.geodata',function() {
                    idx=parseInt($(this).attr('data-idx'))
                    obj={
                        name: currentGeodata[idx].nameEN,
                        address: currentGeodata[idx].addressEN,
                        x: parseFloat(currentGeodata[idx].x),
                        y: parseFloat(currentGeodata[idx].y),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                    $.post('{% url "add-location" %}', obj, function(data) {
                        $('#visit').attr('data-pk',data.pk)
                        set(currentGeodata[idx], 'geodata')
                        if(data.status==1) {
                            alert("Location added to HotZone.")
                        }
                        else {
                            alert("Location in HotZone already.")
                        }
                    }, 'json')
                })
                $(document).on('click', '.remove', function() {
                    $(`[data-visitID=${$(this).attr('data-id')}]`).remove()
                })
                $('#addVisit').click(function() {
                    //case_id is now a hidden input, so wont check
                    if($('#x_coord').html()=='') {
                        alert('Please input complete data.')
                        return
                    }
                    $('#addedVisits').show()
                    $('.addedVisits tbody').append(
                        `<tr class="mb-2" data-visitID=${addedVisitsID} data-pk=${$('#visit').attr('data-pk')}>
                            <td colspan=4 class='addedVisits_location'>${$('#location').val()}</td>
                            <td colspan=5 class='addedVisits_address'>${$('#address').text()}</td>
                            <td colspan=3>
                                <input type='date' class='addedVisits_date_from'/>
                            </td>
                            <td colspan=3>
                                <input type='date' class='addedVisits_date_to'/>
                            </td>
                            <td colspan=3>
                                <select class='addedVisits_category'>
                                    ${$('#category').html()}
                                </select>
                            </td>
                            <td colspan=2 class="text-center">
                                <button data-id=${addedVisitsID} type="button" class="btn btn-warning remove">Remove</button>
                            </td>
                        </tr>`
                    )
                    var qSel=`[data-visitID=${addedVisitsID}] `
                    $(qSel+'.addedVisits_category').val($('#category').val())
                    $(qSel+'.addedVisits_date_from').val($('#date_from').val())     
                    $(qSel+'.addedVisits_date_to').val($('#date_to').val()) 
                    addedVisitsID++
                })
                $('#save').click(function() {
                    if($('#addedVisits tbody').children().length==0) {
                        return
                    }
                    var visits={
                        case_id: $("#case_id").val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'locations[]': []
                    }
                    $('[data-visitID]').each(function() {
                        var visit={
                            location_id: $(this).attr('data-pk'),
                            category: $(this).find('.addedVisits_category option:selected').attr('value'),
                            date_from: $(this).find(':nth-child(3) .addedVisits_date_from').val(),
                            date_to: $(this).find(':nth-child(4) .addedVisits_date_to').val()
                        }
                        visits['locations[]'].push(JSON.stringify(visit))
                    })
                    console.log(visits)
                    $.post('{% url "add" %}', visits, function(data) {
                        alert(data.msg)
                        resetAddedVisits()
                    }, 'json')
                })
                $('#search').click(function() {
                    if($("#location").val()!='') {
                        $('#search').text("Searching")
                        $.get('{% url "get-locations" %}',{name: $("#location").val()}, function(data) {
                            currentHotzone=data
                            if(data.length>=1) {
                                reset()
                                renderLocations('hotzone', data)
                            }
                            else {
                                reset()
                                $('.hotzoneLocations').hide()
                            }
                            $.ajax({
                                url: 'https://geodata.gov.hk/gs/api/v1.0.0/locationSearch',
                                type: 'GET',
                                data: {q: $("#location").val()},
                                success: function(d) {
                                    $('#search').text("Search")
                                    currentGeodata=d
                                    if(d.length>=1) {
                                        reset()
                                        filterAddedLocations()
                                        renderLocations('geodata', currentGeodata)
                                    }
                                    else {
                                        reset()
                                        $('.geodataLocations').hide()
                                        alert("No record in GeoData Store.")
                                    }
                                },
                                error: function(d) {
                                    $('#search').text("Search")
                                    reset()
                                    $('.geodataLocations').hide()
                                    alert("No record in GeoData Store.")
                                }
                            })
                        },'json')
                    }
                    else {
                        $('.geodataLocations').hide()
                        $.get('{% url "get-locations" %}',{name: ''}, function(data) {
                            currentHotzone=data
                            if(data.length>=1) {
                                reset()
                                renderLocations('hotzone', data)
                            }
                            else {
                                reset()
                                $('.hotzoneLocations').hide()
                                alert("No record in HotZone.")
                            }
                        },'json')
                    }
                })
            })
        </script>
    </head>
    <body>
        <h3>Add Visit for Case {{ case_id }}</h3>
        <input type='hidden' id='case_id' value="{{ case_id }}"/>
        <form class="container-fluid mt-4" id="visit" data-pk=''>
            <div class="row container">
                <div class="col-6">
                    <div class="row">
                        <div class='col-3'>
                            Patient Name
                        </div>
                        <div class='col-8'>
                            {{ patient_name }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class='col-3'>
                            X Coord
                        </div>
                        <div class='col-8'>
                            <span id="x_coord"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container mt-3">
                <div class="col-6">
                    <div class="row">
                        <div class='col-3'>
                            <label for='category'>Category</label>
                        </div>
                        <div class='col-4'>
                            <select id='category' class="form-control">
                                <option value='r'>Residence</option>
                                <option value='w'>Workplace</option>
                                <option value='v'>Visit</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class='col-3'>
                            Y Coord
                        </div>
                        <div class='col-8'>
                            <span id="y_coord"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container mt-3">
                <div class="col-6">
                    <div class="row">
                        <div class='col-3'>
                            <label for='date_from'>Date From</label>
                        </div>
                        <div class='col-4'>
                            <input type='date' id='date_from' class="form-control"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class='col-3'>
                            <label for='date_to'>Date To</label>
                        </div>
                            <div class='col-4'>
                            <input type='date' id='date_to' class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class='col-3'>
                                Address
                        </div>
                        <div class='col-8'>
                            <span id='address'></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container mt-3">
                <div class="col-9">
                    <div class="row">
                        <div class='col-2'>
                            <label for='location'>Location</label>
                        </div>
                        <div class='col-5'>
                            <input type='text' id='location' class="form-control" placeholder="Keep empty to list all existing Locations"/>
                        </div>
                        <div class='col-5'>
                            <button type="button" id='search' class="ml-3 btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button type='button' id='addVisit' class='col-10 btn btn-primary'>Add Visit Record</button>
                </div>
            </div>
        </form>
        <div class="pl-0 pr-0 container-fluid hotzoneLocations">Location(s) from existing HotZone Database satisfying your query</div>
        <div class='pl-0 pr-0 mt-1 container-fluid scroll-y-vh-40'>
            <table class='container-fluid hotzoneLocations'>
                <colgroup>
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                </colgroup>
                <thead class="bg-primary text-white sticky-top">
                    <th colspan=4>Name</th>
                    <th colspan=10>Address</th>
                    <th colspan=2>X coord</th>
                    <th colspan=2>Y coord</th>
                    <th colspan=2></th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="pl-0 pr-0 mt-3 container-fluid geodataLocations">Location(s) from GeoData Database satisfying your query</div>
        <div class='pl-0 pr-0 mt-1 container-fluid scroll-y-vh-40'>
            <table class='container-fluid geodataLocations'>
                <colgroup>
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                    <col width="5%"><col width="5%">
                </colgroup>
                <thead class="bg-primary text-white sticky-top">
                    <th colspan=4>Name</th>
                    <th colspan=10>Address</th>
                    <th colspan=2>X coord</th>
                    <th colspan=2>Y coord</th>
                    <th colspan=2></th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="addedVisits">
            <div class="pl-0 pr-0 mt-3 container-fluid">Added Visits</div>
            <div class='pl-0 pr-0 mt-1 container-fluid scroll-y-vh-40'>
                <table class='container-fluid addedVisits'>
                    <colgroup>
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                        <col width="5%"><col width="5%">
                    </colgroup>
                    <thead class="bg-warning text-white sticky-top">
                        <th colspan=4>Location</th>
                        <th colspan=5>Address</th>
                        <th colspan=3>Date From</th>
                        <th colspan=3>Date To</th>
                        <th colspan=3>Category</th>
                        <th colspan=2></th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <button type="button" id="save" class="btn btn-primary float-right mt-4">Save</button>
        </div>
    </body>
</html>