<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title> {% block title %} {% endblock title %} </title>
        {% block styles %} {% endblock styles %}
        {% block scripts %} {% endblock scripts %}
    </head>

    <body>
        {% if user.is_authenticated %}

            <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
                <div class="container">
                    <a class="navbar-brand" href="/"> HotZone </a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/cases"> View / Edit Data <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> Add Data </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'logout' %}"> Logout </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-md-11 col-lg-10 m-auto">
                        {% block content %} {% endblock content %}
                    </div>
                </div>
            </div>

        {% else %}
            <a href="{% url 'login' %}">Please login.</a>
        {% endif %}

    </body>
</html>