{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3"> All Visits </h1>
<h4> by Patient {{pname}}</h4>

{% if visits %}
<h6 class="pt-5"> All results </h6>

<div>
    <table class="table table-hover">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">Location</th>
                <th scope="col">Date From</th>
                <th scope="col">Date To</th>
                <th scope="col">Category</th>
                <td class="bg-white border-0"></td>
            </tr>
        </thead>
        {% for visit in visits %}
        <tbody class="border-0">
            <tr>
                <td scope="row">{{visit.location}}</td>
                <td scope="row">{{visit.datefrom}}</td>
                <td scope="row">{{visit.dateto}}</td>
                <td scope="row">{{visit.category}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% else %}
<h6 class="pt-5"> No results satisfying your query. </h6>
{% endif %}

<a class="btn btn-primary mt-4" href="/cases"> Back </a>

{% endblock %}