{% extends 'base.html' %}

{% block content %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      li {
        float: right;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover:not(.active) {
        background-color: #111;
      }

      table {
        table-layout:fixed;
        width: 100% !important;
        font-size: 16px;
      }

      #t01 th {
        border: 1px solid white;
        color: white;
      }

      #t02 th {
        border: 1px solid white;
        background-color: #D7DEFF;
        color: white;
        color: black;
      }

      th, td {
        padding: 5px;
        text-align: left;
        font-weight: normal;
        width: 10%;
      }

      #tbutton th {
        background-color: #FFFFFF;
      }

      label {
        display: table-cell;
      }

      input {
        display: table-cell;
        height: 50%;
        line-height: 1em;
        width: 15em;
      }

      .hidden {
        display: none;
      }

    </style>
    <title>HotZone case page</title>
  </head>
  <body>

    <form style='display: table;
    line-height: 2;'>
      <pre style='display:table-row'>Case ID                        {{filtercase.0.case_id}}</pre>
      <pre style='display:table-row'>Date Confirmed                 {{filtercase.0.date|date:'Y-m-d'}}</pre>
      <pre style='display:table-row'>Local/Imported                 {{filtercase.0.get_category_display|title}}</pre>
      <pre style='display:table-row'>Patient Name                   {{filtercase.0.patient.lastname}} {{filtercase.0.patient.firstname}}</pre>
      <pre style='display:table-row'>Identity Document Number       {{filtercase.0.patient.idn}}</pre>
      <pre style='display:table-row'>Date of Birth                  {{filtercase.0.patient.dob|date:'Y-m-d'}}</pre>
      <pre style='display:table-row'>Virus Name                     {{filtercase.0.virus.name}}</pre>
      <pre style='display:table-row'>Disease                        {{filtercase.0.virus.common_name}}</pre>
      <pre style='display:table-row'>Max Infected Period            {{filtercase.0.virus.period}}</pre>
    </form>
    <form action='{{filtercase.0.case_id}}/add_visit' method='GET'>
      <pre>Visit(s)                       <button type='submit' class="btn btn-primary">Add Visit</button></pre>
    </form>

    {% if filtervisit %}
    <table id="t01">
      <tr>
        <th style="width: 15%" class="bg-primary">Location</th>
        <th style="width: 10%" class="bg-primary">Address</th>
        <th style="width: 10%" class="bg-primary">X Coord</th>
        <th style="width: 10%" class="bg-primary">Y Coord</th>
        <th style="width: 15%" class="bg-primary">Date From</th>
        <th style="width: 15%" class="bg-primary">Date To</th>
        <th style="width: 10%" class="bg-primary">Category</th>
        <th style="width: 15%" style='background-color: #FFFFFF'></th>
      </tr>
    </table>

    <table id="t02" class="fixed">

      {% for loc in filtervisit %}
      <tr>
        <th style="width: 15%;
        word-wrap: break-word;">{{loc.location.name}}</th>
        <th style="width: 10%">{{loc.location.address}}</th>
        <th style="width: 10%">{{loc.location.x}}</th>
        <th style="width: 10%">{{loc.location.y}}</th>
        <th style="width: 15%">
          <input id="dfrom" type="date" name="dfrom[]" style="width: 100%;
          height: 20px;
          font-size: 0.6rem;" value="{{loc.date_from|date:'Y-m-d'}}"/>
          <input id="odfrom" type="hidden" name="odfrom[]" value="{{loc.date_from|date:'Y-m-d'}}"/></th>
        <th style="width: 15%">
          <input id="dto" type="date" name="dto[]" style="width: 100%;
          height: 20px;
          font-size: 0.6rem;" value="{{loc.date_to|date:'Y-m-d'}}"/>
          <input id="odto" type="hidden" name="odto[]" value="{{loc.date_to|date:'Y-m-d'}}"/></th>
        <th style="width: 10%">
          <select id="category" name="category[]" style="width: 100%;
          height: 20px;
          font-size: 0.6rem;">
            <option value="{{loc.get_category_display|title}}" selected disabled hidden>{{loc.get_category_display|title}}</option>
            <option value="residence">Residence</option>
            <option value="workplace">Workplace</option>
            <option value="visit">Visit</option>
          </select>
          <input id="ocategory" type="hidden" name="ocategory[]" value="{{loc.get_category_display|title}}"/>
        </th>
        <th id="tbutton" style='background-color: #FFFFFF;
        width: 15%;
        vertical-align: middle;
        text-align: center;'>
          <form style='margin: auto;
          display: inline-block;'>
            <button type='button' value='Remove' onclick="remove(this)"  class="btn btn-primary">Remove</button>
          </form>
        </th>
      </tr>
      {% endfor %}

      <tr>
        <th style='background-color: #FFFFFF'></th>
        <th style='background-color: #FFFFFF'></th>
        <th style='background-color: #FFFFFF'></th>
        <th style='background-color: #FFFFFF'></th>
        <th style='background-color: #FFFFFF'></th>
        <th style='background-color: #FFFFFF'></th>
        <th style='background-color: #FFFFFF'></th>
        <th id="tbutton" style='background-color: #FFFFFF;
        vertical-align: middle;
        text-align: center;'>
          <form name="saveform" action="save">
            <input id="caseid" type="hidden" name="caseid"/>
            <input id="locations" type="hidden" name="locations"/>
            <input id="addresses" type="hidden" name="addresses"/>
            <input id="xs" type="hidden" name="xs"/>
            <input id="ys" type="hidden" name="ys"/>
            <input id="olddfroms" type="hidden" name="olddfroms"/>
            <input id="olddtos" type="hidden" name="olddtos"/>
            <input id="oldcategories" type="hidden" name="oldcategories"/>
            <input id="newdfroms" type="hidden" name="newdfroms"/>
            <input id="newdtos" type="hidden" name="newdtos"/>
            <input id="newcategories" type="hidden" name="newcategories"/>
            <input id="row_number" type="hidden" name="row_number"/>
            <a href="javascript: save()" class="btn btn-primary">Save</a>
          </form>
        </th>
      </tr>
    </table>
    {% endif %}

    <script>
      function remove(r) {
        var i = r.parentNode.parentNode.parentNode.rowIndex;
        document.getElementById("t02").deleteRow(i);
      }
    </script>

    <script type="text/javascript">
      function save() {
        var row_number=document.getElementById("t02").rows.length-1;
        if (row_number==-1){
          document.getElementById("row_number").value=0;
        }
        else{
          document.getElementById("row_number").value=row_number;
        }
        var url=window.location.href;
        var pos=url.search('cases/')+6;
        var caseid=url.substring(pos,);
        document.getElementById('caseid').value=caseid;

        var table=document.getElementById("t02");
        var i;
        var empty="";
        var alocations=[];
        var aaddresses=[];
        var axs=[];
        var ays=[];
        var aodfroms=[];
        var aodtos=[];
        var aocategories=[];
        var andfroms=[];
        var andtos=[];
        var ancategories=[];

        for (i=0; i<row_number; i++){
          if (table.rows[i].cells[0].innerHTML==""){
            alocations.push(empty);
          }
          else {
            alocations.push(table.rows[i].cells[0].innerHTML);
          }

          if (table.rows[i].cells[1].innerHTML==""){
            aaddresses.push(empty);
          }
          else {
            aaddresses.push(table.rows[i].cells[1].innerHTML);
          }

          if (table.rows[i].cells[2].innerHTML==""){
            axs.push(empty);
          }
          else {
            axs.push(table.rows[i].cells[2].innerHTML);
          }

          if (table.rows[i].cells[3].innerHTML==""){
            ays.push(empty);
          }
          else {
            ays.push(table.rows[i].cells[3].innerHTML);
          }

          if (table.rows[i].cells[4].innerHTML==""){
            aodfroms.push(empty);
            andfroms.push(empty);
          }
          else {
            var input=document.getElementsByName('dfrom[]');
            var date=input[i];
            var value=date.value;
            andfroms.push(value);
            input=document.getElementsByName('odfrom[]');
            date=input[i];
            value=date.value;
            aodfroms.push(value);
          }

          if (table.rows[i].cells[5].innerHTML==""){
            aodtos.push(empty);
            andtos.push(empty);
          }
          else {
            var input=document.getElementsByName('dto[]');
            var date=input[i];
            var value=date.value;
            andtos.push(value);
            input=document.getElementsByName('odto[]');
            date=input[i];
            value=date.value;
            aodtos.push(value);
          }

          if (table.rows[i].cells[6].innerHTML==""){
            aocategories.push(empty);
            ancategories.push(empty);
          }
          else {
            var input=document.getElementsByName('category[]');
            var cat=input[i];
            var value=cat.value;
            ancategories.push(value);
            input=document.getElementsByName('ocategory[]');
            date=input[i];
            value=date.value;
            aocategories.push(value);
          }
        }
        document.getElementById("locations").value=alocations;
        document.getElementById("addresses").value=aaddresses;
        document.getElementById("xs").value=axs;
        document.getElementById("ys").value=ays;
        document.getElementById("olddfroms").value=aodfroms;
        document.getElementById("olddtos").value=aodtos;
        document.getElementById("oldcategories").value=aocategories;
        document.getElementById("newdfroms").value=andfroms;
        document.getElementById("newdtos").value=andtos;
        document.getElementById("newcategories").value=ancategories;
        document.forms['saveform'].submit();
      }
    </script>

  </body>
</html>
{% endblock content %}
