{% extends 'base.html' %}

{% block title %} HotZone Clustering {% endblock title %}

{% block styles %} <style></style> {% endblock styles %}

{% block content %}
<div class="container">
  <form action='' method="post" >
  {% csrf_token %}

    <div class="form-group">
      <label for='d'>Inter-location distance threshold 
        <span class="badge badge-secondary">D</span>
      </label>
      <input type="number" name='d' value='{{ d }}' required>
    </div>

    <div class="form-group">
      <label for='c'>Minimum cluster size
        <span class="badge badge-secondary">C</span>
      </label>
      <input type="number" name='c' value='{{ c }}' required>
    </div>

    <div class="form-group">
      <label for='t'>Proximity in time threshold
        <span class="badge badge-secondary">T</span>
      </label>
      <input type="number" name='t' value='{{ t }}' required>
    </div>

    <button type="submit" class="btn btn-primary" value="submit">
      Find clusters
    </button>

  </form>

  {% if cluster_result %}
    <p>clusters : {{cluster_result}}</p>
  {% endif %}

</div>
{% endblock content %}
